{% extends 'portfolio_app/base_template.html' %}


{% block content %}
<!--get the values from the database for this model and format in html-->
<h1>Portfolio Title: {{ portfolio.title }}</h1>


<p><strong>Portfolio Active:</strong> {{ portfolio.is_active }}</p>
<p><strong>About:</strong> {{ portfolio.about }}</p>
<p><strong>Contact Email:</strong> {{ portfolio.contact_email }}</p>

<!--check if the database has entries for this model then iterate through them using for loop-->
<h2>Project List</h2>
<!--button for creating a new project that takes in the portfolio.id-->
<a class="btn btn-primary" href="{% url 'create_project' portfolio.id %}" role="button">New</a>

{% if projects %}
<ul>
    
{% for project in projects %}
<!--list the title of each project as a link to their detail page-->
<li>
    {{ project.title }}:
    <a class="btn btn-primary" href="{{ project.get_absolute_url }}" role="button">View</a>
    <!--creates a update button that sets the url for update_project in urls.py-->
    <a class="btn btn-primary" href="{% url 'update_project' portfolio.id project.id%}" role="button">Update</a>
    <!--creates a delete button that sets the url for delete_project in urls.py-->
    <a class="btn btn-primary" href="{% url 'delete_project' portfolio.id project.id%}" role="button">Delete</a>
    
</li>
{% endfor %}
</ul>
<!--else display this error message-->
{% else %}
<p>There are no projects registered.</p>
{% endif %}
{% endblock %}