<!-- inherit from base.html-->
{% extends 'portfolio_app/base_template.html' %}


{% block content %}
<!--check if the database has entries for this model then iterate through them using for loop-->
<h1>Project List</h1>
{% if project_list %}
<ul>
    
{% for project in project_list %}
<!--list the title of each project as a link to their detail page-->
<li>
<a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
</li>
{% endfor %}
</ul>
<!--else display this error message-->
{% else %}
<p>There are no projects registered.</p>
{% endif %}
{% endblock %}