{% extends 'portfolio_app/base_template.html' %}


{% block content %}
<!--get the values from the database for this model and format in html-->
<h1>Student Name: {{ student.name }}</h1>


<p><strong>Email:</strong> {{ student.email }}</p>
<p><strong>Major:</strong> {{ student.major }}</p>
<p><strong>Portfolio:<a href="{{ student.portfolio.get_absolute_url }}">{{ student.portfolio.title }} </a>
<!--creates a update button that sets the url for update_portfolio in urls.py-->
<a class="btn btn-primary" href="{% url 'update_portfolio' student.portfolio.id%}" role="button">Update</a>
</p>
{% endblock %}